# Android Studio / IntelliJ
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configs
local.properties

# Logs
*.log

# NDK / C++
.externalNativeBuild/
.cxx/

# APK / AAB files
*.apk
*.aab

# Captures
captures/

# Keystore (for app signing)
*.jks
*.keystore

# Crashlytics / Firebase config
app/google-services.json